@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.pt_serif_regular {
    font-family: "PT Serif", serif !important; 
    font-weight: 400;
    font-style: normal;
  }
  
  .pt_serif_bold_{
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .pt_serif_regular_italic {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .pt_serif_bold_italic {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: italic;
  }
  