:root {
    --primary-color: "#e31e78";
    --default-border-radius: 15px;
    --telegram: #2da5dc;
}
* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: "Vazir" !important;
    user-select: none;
}
.transition-500 {
    transition: all 500ms;
}
.max-z {
    z-index: 100000000000000000000000000000000000000000000000000000000000000 !important;
}
.max-z-1 {
    z-index: 1000000000000000000000000000000000000000000000000000000000000001 !important;
}


 
::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #fff8;
    border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}