form::before {
    content: "";
    display: block;
    background-color: red;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    z-index: -500;

    top: -75px;
    left: -75px;

    position: absolute;
}